{% extends './base.html' %}
{% block content %}
<h2>Purchases List</h2>
<table id="purchases" class="table">
    <tr>
        <th>Menu Item</th>
        <th>Time of Purchase</th>
        <th></th>
        <th></th>
    </tr>
    {% for purchase in purchase_list %}
    <tr>
        <td>{{ purchase.menu_item.title }}</td>
        <td>{{ purchase.timestamp }}</td>
        <td><a href="{% url 'inventory:purchase-update' purchase.id %}"><button>Update</button></a></td>
        <td><a href="{% url 'inventory:purchase-delete' purchase.id %}"><button>Delete</button></a></td>
    </tr>
    {% endfor %}
</table>
<div><a href="{% url 'inventory:purchase-create' %}"><button>Add new purchase</button></a></div>
{% endblock %}